GO
/****** Object:  Table [dbo].[tChiTietHoaDonBan]    Script Date: 20/11/2022 19:18:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tChiTietHoaDonBan](
	[SoHDB] [nvarchar](20) NOT NULL,
	[MaHang] [nvarchar](20) NOT NULL,
	[SoLuong] [int] NULL,
	[GiamGia] [int] NULL,
	[ThanhTien] [money] NULL,
PRIMARY KEY CLUSTERED 
(
	[SoHDB] ASC,
	[MaHang] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tDMHangHoa]    Script Date: 20/11/2022 19:18:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tDMHangHoa](
	[MaHang] [nvarchar](20) NOT NULL,
	[TenHangHoa] [nvarchar](100) NOT NULL,
	[MaLoaiGo] [nvarchar](20) NOT NULL,
	[MaKichThuoc] [nvarchar](20) NOT NULL,
	[MaDacDiem] [nvarchar](20) NOT NULL,
	[MaCongDung] [nvarchar](20) NOT NULL,
	[MaMau] [nvarchar](20) NOT NULL,
	[MaNuocSX] [nvarchar](20) NOT NULL,
	[SoLuong] [int] NULL,
	[DonGiaNhap] [money] NOT NULL,
	[DonGiaBan] [money] NULL,
	[ThoiGianBaoHanh] [int] NULL,
	[Anh] [nvarchar](max) NULL,
	[GhiChu] [ntext] NULL,
PRIMARY KEY CLUSTERED 
(
	[MaHang] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tHoaDonBan]    Script Date: 20/11/2022 19:18:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tHoaDonBan](
	[SoHDB] [nvarchar](20) NOT NULL,
	[MaNV] [nvarchar](20) NOT NULL,
	[NgayBan] [datetime] NULL,
	[MaKhach] [nvarchar](20) NOT NULL,
	[TongTien] [money] NULL,
PRIMARY KEY CLUSTERED 
(
	[SoHDB] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tKhachHang]    Script Date: 20/11/2022 19:18:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tKhachHang](
	[MaKhach] [nvarchar](20) NOT NULL,
	[TenKhach] [nvarchar](100) NOT NULL,
	[DiaChi] [nvarchar](100) NULL,
	[DienThoai] [nvarchar](15) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaKhach] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  UserDefinedFunction [dbo].[Report1]    Script Date: 20/11/2022 19:18:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   FUNCTION [dbo].[Report1](@maKhach NVARCHAR(20)) RETURNS TABLE AS
RETURN
	SELECT DISTINCT TOP(2) WITH TIES tKhachHang.MaKhach, TenKhach, tDMHangHoa.MaHang, TenHangHoa, SUM(tChiTietHoaDonBan.SoLuong) AS Soluong
	FROM tKhachHang
		JOIN tHoaDonBan ON tHoaDonBan.MaKhach = tKhachHang.MaKhach
		JOIN tChiTietHoaDonBan ON tChiTietHoaDonBan.SoHDB = tHoaDonBan.SoHDB
		JOIN tDMHangHoa ON tDMHangHoa.MaHang = tChiTietHoaDonBan.MaHang
	WHERE tKhachHang.MaKhach = @maKhach
	GROUP BY tKhachHang.MaKhach, TenKhach, tDMHangHoa.MaHang, TenHangHoa
	ORDER BY SoLuong DESC
GO
/****** Object:  Table [dbo].[tChiTietHoaDonNhap]    Script Date: 20/11/2022 19:18:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tChiTietHoaDonNhap](
	[SoHDN] [nvarchar](20) NOT NULL,
	[MaHang] [nvarchar](20) NOT NULL,
	[SoLuong] [int] NULL,
	[DonGia] [money] NOT NULL,
	[GiamGia] [int] NULL,
	[ThanhTien] [money] NULL,
PRIMARY KEY CLUSTERED 
(
	[SoHDN] ASC,
	[MaHang] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tHoaDonNhap]    Script Date: 20/11/2022 19:18:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tHoaDonNhap](
	[SoHDN] [nvarchar](20) NOT NULL,
	[MaNV] [nvarchar](20) NOT NULL,
	[NgayNhap] [datetime] NULL,
	[MaNCC] [nvarchar](20) NOT NULL,
	[TongTien] [money] NULL,
PRIMARY KEY CLUSTERED 
(
	[SoHDN] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  UserDefinedFunction [dbo].[Report2]    Script Date: 20/11/2022 19:18:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   FUNCTION [dbo].[Report2](@thang INT) RETURNS TABLE AS
RETURN
	SELECT tHoaDonNhap.SoHDN, SUM(SoLuong * DonGia) AS TongTienNhap, NgayNhap
	FROM tChiTietHoaDonNhap JOIN tHoaDonNhap ON tChiTietHoaDonNhap.SoHDN = tHoaDonNhap.SoHDN
	WHERE MONTH(NgayNhap) = @thang
	GROUP BY tHoaDonNhap.SoHDN, NgayNhap
GO
/****** Object:  UserDefinedFunction [dbo].[Report3]    Script Date: 20/11/2022 19:18:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   FUNCTION [dbo].[Report3](@nam INT) RETURNS TABLE AS
RETURN
	SELECT TOP(5) WITH TIES tHoaDonBan.SoHDB, MaNV, NgayBan, MaKhach, SUM(tChiTietHoaDonBan.SoLuong * tDMHangHoa.DonGiaBan) AS DoanhThu
	FROM tChiTietHoaDonBan
		JOIN tHoaDonBan ON tChiTietHoaDonBan.SoHDB = tHoaDonBan.SoHDB
		JOIN tDMHangHoa ON tChiTietHoaDonBan.MaHang = tDMHangHoa.MaHang
	WHERE YEAR(NgayBan) = @nam
	GROUP BY tHoaDonBan.SoHDB, MaNV, NgayBan, MaKhach
	ORDER BY DoanhThu DESC
GO
/****** Object:  Table [dbo].[tNhanVien]    Script Date: 20/11/2022 19:18:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tNhanVien](
	[MaNV] [nvarchar](20) NOT NULL,
	[TenNV] [nvarchar](100) NOT NULL,
	[GioiTinh] [nvarchar](5) NULL,
	[NgaySinh] [date] NULL,
	[DienThoai] [nvarchar](15) NULL,
	[DiaChi] [nvarchar](100) NULL,
	[MaCV] [nvarchar](20) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MaNV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  UserDefinedFunction [dbo].[Report4]    Script Date: 20/11/2022 19:18:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   FUNCTION [dbo].[Report4](@thang INT) RETURNS TABLE AS
RETURN
	SELECT TOP(2) WITH TIES tNhanVien.MaNV, TenNV, SUM(tChiTietHoaDonBan.SoLuong * tDMHangHoa.DonGiaBan) AS DoanhThu, NgayBan
	FROM tChiTietHoaDonBan
		JOIN tHoaDonBan ON tChiTietHoaDonBan.SoHDB = tHoaDonBan.SoHDB
		JOIN tNhanVien ON tHoaDonBan.MaNV = tNhanVien.MaNV
		JOIN tDMHangHoa ON tChiTietHoaDonBan.MaHang = tDMHangHoa.MaHang
	WHERE MONTH(NgayBan) = @thang
	GROUP BY tNhanVien.MaNV, TenNV, NgayBan
	ORDER BY DoanhThu DESC
GO
/****** Object:  Table [dbo].[tCongDung]    Script Date: 20/11/2022 19:18:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tCongDung](
	[MaCongDung] [nvarchar](20) NOT NULL,
	[TenCongDung] [nvarchar](100) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MaCongDung] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tDacDiem]    Script Date: 20/11/2022 19:18:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tDacDiem](
	[MaDacDiem] [nvarchar](20) NOT NULL,
	[TenDacDiem] [nvarchar](100) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MaDacDiem] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tKichThuoc]    Script Date: 20/11/2022 19:18:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tKichThuoc](
	[MaKichThuoc] [nvarchar](20) NOT NULL,
	[TenKichThuoc] [nvarchar](100) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MaKichThuoc] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tLoaiGo]    Script Date: 20/11/2022 19:18:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tLoaiGo](
	[MaLoaiGo] [nvarchar](20) NOT NULL,
	[TenLoaiGo] [nvarchar](100) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MaLoaiGo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tMauSac]    Script Date: 20/11/2022 19:18:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tMauSac](
	[MaMau] [nvarchar](20) NOT NULL,
	[TenMau] [nvarchar](100) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MaMau] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tNuocSanXuat]    Script Date: 20/11/2022 19:18:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tNuocSanXuat](
	[MaNuocSX] [nvarchar](20) NOT NULL,
	[TenNuocSX] [nvarchar](100) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MaNuocSX] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[View_DMHangHoa]    Script Date: 20/11/2022 19:18:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   VIEW [dbo].[View_DMHangHoa] AS
SELECT MaHang, TenHangHoa, TenLoaiGo, TenKichThuoc, TenDacDiem, TenCongDung, TenMau, TenNuocSX, SoLuong, DonGiaNhap, DonGiaBan, ThoiGianBaoHanh, Anh, GhiChu
FROM tDMHangHoa
	JOIN tLoaiGo ON tDMHangHoa.MaLoaiGo = tLoaiGo.MaLoaiGo
	JOIN tKichThuoc ON tDMHangHoa.MaKichThuoc = tKichThuoc.MaKichThuoc
	JOIN tDacDiem ON tDMHangHoa.MaDacDiem =  tDacDiem.MaDacDiem
	JOIN tCongDung ON tDMHangHoa.MaCongDung = tCongDung.MaCongDung
	JOIN tMauSac ON tDMHangHoa.MaMau = tMauSac.MaMau
	JOIN tNuocSanXuat ON tDMHangHoa.MaNuocSX = tNuocSanXuat.MaNuocSX
GO
/****** Object:  View [dbo].[View_HoaDonBan]    Script Date: 20/11/2022 19:18:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   VIEW [dbo].[View_HoaDonBan] AS
SELECT SoHDB, TenNV, NgayBan, TenKhach, TongTien
FROM tHoaDonBan
	JOIN tNhanVien ON tHoaDonBan.MaNV = tNhanVien.MaNV
	JOIN tKhachHang ON tHoaDonBan.MaKhach = tKhachHang.MaKhach
GO
/****** Object:  Table [dbo].[tNhaCungCap]    Script Date: 20/11/2022 19:18:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tNhaCungCap](
	[MaNCC] [nvarchar](20) NOT NULL,
	[TenNCC] [nvarchar](100) NOT NULL,
	[DiaChi] [nvarchar](100) NULL,
	[DienThoai] [nvarchar](15) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaNCC] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[View_HoaDonNhap]    Script Date: 20/11/2022 19:18:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   VIEW [dbo].[View_HoaDonNhap] AS
SELECT SoHDN, TenNV, NgayNhap, TenNCC, TongTien
FROM tHoaDonNhap
	JOIN tNhanVien ON tHoaDonNhap.MaNV = tNhanVien.MaNV
	JOIN tNhaCungCap ON tHoaDonNhap.MaNCC = tNhaCungCap.MaNCC
GO
/****** Object:  Table [dbo].[tCongViec]    Script Date: 20/11/2022 19:18:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tCongViec](
	[MaCV] [nvarchar](20) NOT NULL,
	[TenCV] [nvarchar](100) NOT NULL,
	[MucLuong] [money] NULL,
PRIMARY KEY CLUSTERED 
(
	[MaCV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[View_NhanVien]    Script Date: 20/11/2022 19:18:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   VIEW [dbo].[View_NhanVien] AS
SELECT MaNV, TenNV, GioiTinh, NgaySinh, DienThoai, DiaChi, TenCV
FROM tNhanVien JOIN tCongViec ON tNhanVien.MaCV = tCongViec.MaCV
GO
/****** Object:  Table [dbo].[tLogin]    Script Date: 20/11/2022 19:18:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tLogin](
	[Username] [nvarchar](50) NOT NULL,
	[Password] [nvarchar](100) NOT NULL,
 CONSTRAINT [PK_tLogin] PRIMARY KEY CLUSTERED 
(
	[Username] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[tCongDung] ([MaCongDung], [TenCongDung]) VALUES (N'CD001', N'Lát sàn')
INSERT [dbo].[tCongDung] ([MaCongDung], [TenCongDung]) VALUES (N'CD002', N'Ốp tường')
INSERT [dbo].[tCongDung] ([MaCongDung], [TenCongDung]) VALUES (N'CD003', N'Ốp trần')
GO
INSERT [dbo].[tCongViec] ([MaCV], [TenCV], [MucLuong]) VALUES (N'CS', N'Chăm sóc khách hàng', 12000000.0000)
INSERT [dbo].[tCongViec] ([MaCV], [TenCV], [MucLuong]) VALUES (N'HT', N'Vận hành hệ thống', 20000000.0000)
INSERT [dbo].[tCongViec] ([MaCV], [TenCV], [MucLuong]) VALUES (N'KT', N'Kế toán', 12500000.0000)
GO
INSERT [dbo].[tChiTietHoaDonBan] ([SoHDB], [MaHang], [SoLuong], [GiamGia], [ThanhTien]) VALUES (N'HDB001', N'MH001', 50, NULL, NULL)
INSERT [dbo].[tChiTietHoaDonBan] ([SoHDB], [MaHang], [SoLuong], [GiamGia], [ThanhTien]) VALUES (N'HDB001', N'MH002', 60, NULL, NULL)
INSERT [dbo].[tChiTietHoaDonBan] ([SoHDB], [MaHang], [SoLuong], [GiamGia], [ThanhTien]) VALUES (N'HDB001', N'MH003', 60, NULL, NULL)
GO
INSERT [dbo].[tChiTietHoaDonNhap] ([SoHDN], [MaHang], [SoLuong], [DonGia], [GiamGia], [ThanhTien]) VALUES (N'HDN001', N'MH001', 2000, 359100.0000, NULL, NULL)
INSERT [dbo].[tChiTietHoaDonNhap] ([SoHDN], [MaHang], [SoLuong], [DonGia], [GiamGia], [ThanhTien]) VALUES (N'HDN001', N'MH002', 2000, 359100.0000, NULL, NULL)
INSERT [dbo].[tChiTietHoaDonNhap] ([SoHDN], [MaHang], [SoLuong], [DonGia], [GiamGia], [ThanhTien]) VALUES (N'HDN001', N'MH003', 5000, 445500.0000, NULL, NULL)
GO
INSERT [dbo].[tDacDiem] ([MaDacDiem], [TenDacDiem]) VALUES (N'DD001', N'Chống cháy')
INSERT [dbo].[tDacDiem] ([MaDacDiem], [TenDacDiem]) VALUES (N'DD002', N'Chống xước')
INSERT [dbo].[tDacDiem] ([MaDacDiem], [TenDacDiem]) VALUES (N'DD003', N'Chống nước')
GO
INSERT [dbo].[tDMHangHoa] ([MaHang], [TenHangHoa], [MaLoaiGo], [MaKichThuoc], [MaDacDiem], [MaCongDung], [MaMau], [MaNuocSX], [SoLuong], [DonGiaNhap], [DonGiaBan], [ThoiGianBaoHanh], [Anh], [GhiChu]) VALUES (N'MH001', N'Hamilton HM801 ', N'LG001', N'KT003', N'DD002', N'CD001', N'MS001', N'QG086', 6500, 359100.0000, 399000.0000, 10, NULL, NULL)
INSERT [dbo].[tDMHangHoa] ([MaHang], [TenHangHoa], [MaLoaiGo], [MaKichThuoc], [MaDacDiem], [MaCongDung], [MaMau], [MaNuocSX], [SoLuong], [DonGiaNhap], [DonGiaBan], [ThoiGianBaoHanh], [Anh], [GhiChu]) VALUES (N'MH002', N'Lamton AquaGuard AG1210', N'LG003', N'KT006', N'DD001', N'CD001', N'MS004', N'QG084', 9000, 445500.0000, 495000.0000, 15, NULL, NULL)
INSERT [dbo].[tDMHangHoa] ([MaHang], [TenHangHoa], [MaLoaiGo], [MaKichThuoc], [MaDacDiem], [MaCongDung], [MaMau], [MaNuocSX], [SoLuong], [DonGiaNhap], [DonGiaBan], [ThoiGianBaoHanh], [Anh], [GhiChu]) VALUES (N'MH003', N'Hillman Ambition H1041', N'LG004', N'KT001', N'DD003', N'CD001', N'MS004', N'QG060', 4100, 459000.0000, 510000.0000, 15, NULL, NULL)
GO
INSERT [dbo].[tHoaDonBan] ([SoHDB], [MaNV], [NgayBan], [MaKhach], [TongTien]) VALUES (N'HDB001', N'NV001', CAST(N'2019-08-11' AS Date), N'KH001', NULL)
INSERT [dbo].[tHoaDonBan] ([SoHDB], [MaNV], [NgayBan], [MaKhach], [TongTien]) VALUES (N'HDB002', N'NV002', CAST(N'2019-08-13' AS Date), N'KH002', NULL)
INSERT [dbo].[tHoaDonBan] ([SoHDB], [MaNV], [NgayBan], [MaKhach], [TongTien]) VALUES (N'HDB003', N'NV003', CAST(N'2019-11-25' AS Date), N'KH003', NULL)
GO
INSERT [dbo].[tHoaDonNhap] ([SoHDN], [MaNV], [NgayNhap], [MaNCC], [TongTien]) VALUES (N'HDN001', N'NV002', CAST(N'2021-06-13' AS Date), N'NCC001', NULL)
INSERT [dbo].[tHoaDonNhap] ([SoHDN], [MaNV], [NgayNhap], [MaNCC], [TongTien]) VALUES (N'HDN002', N'NV001', CAST(N'2021-06-28' AS Date), N'NCC003', NULL)
INSERT [dbo].[tHoaDonNhap] ([SoHDN], [MaNV], [NgayNhap], [MaNCC], [TongTien]) VALUES (N'HDN003', N'NV004', CAST(N'2021-06-01' AS Date), N'NCC002', NULL)
GO
INSERT [dbo].[tKichThuoc] ([MaKichThuoc], [TenKichThuoc]) VALUES (N'KT001', N'1220mm x 197mm x 8mm')
INSERT [dbo].[tKichThuoc] ([MaKichThuoc], [TenKichThuoc]) VALUES (N'KT002', N'1222mm x 197mm x 8mm')
INSERT [dbo].[tKichThuoc] ([MaKichThuoc], [TenKichThuoc]) VALUES (N'KT003', N'1218mm x 198mm x 8mm')
GO
INSERT [dbo].[tKhachHang] ([MaKhach], [TenKhach], [DiaChi], [DienThoai]) VALUES (N'KH001', N'Nguyễn Thị Hải', N'Hà Nội', N'0923872389')
INSERT [dbo].[tKhachHang] ([MaKhach], [TenKhach], [DiaChi], [DienThoai]) VALUES (N'KH002', N'Nguyễn Quang Chính', N'Hà Nội', N'0965231644')
INSERT [dbo].[tKhachHang] ([MaKhach], [TenKhach], [DiaChi], [DienThoai]) VALUES (N'KH003', N'Trần Văn Quang', N'Thái Bình', N'0862316409')
GO
INSERT [dbo].[tLoaiGo] ([MaLoaiGo], [TenLoaiGo]) VALUES (N'LG001', N'Gỗ sồi')
INSERT [dbo].[tLoaiGo] ([MaLoaiGo], [TenLoaiGo]) VALUES (N'LG002', N'Gỗ giáng hương')
INSERT [dbo].[tLoaiGo] ([MaLoaiGo], [TenLoaiGo]) VALUES (N'LG003', N'Gỗ tràm bông vàng')
GO
INSERT [dbo].[tLogin] ([Username], [Password]) VALUES (N'admin', N'admin')
INSERT [dbo].[tLogin] ([Username], [Password]) VALUES (N'user666', N'123')
GO
INSERT [dbo].[tMauSac] ([MaMau], [TenMau]) VALUES (N'MS001', N'Màu xám')
INSERT [dbo].[tMauSac] ([MaMau], [TenMau]) VALUES (N'MS002', N'Màu đỏ')
INSERT [dbo].[tMauSac] ([MaMau], [TenMau]) VALUES (N'MS003', N'Màu vàng')
GO
INSERT [dbo].[tNuocSanXuat] ([MaNuocSX], [TenNuocSX]) VALUES (N'QG007', N'Nga')
INSERT [dbo].[tNuocSanXuat] ([MaNuocSX], [TenNuocSX]) VALUES (N'QG034', N'Tây Ban Nha')
INSERT [dbo].[tNuocSanXuat] ([MaNuocSX], [TenNuocSX]) VALUES (N'QG041', N'Thuỵ Sĩ')
GO
INSERT [dbo].[tNhaCungCap] ([MaNCC], [TenNCC], [DiaChi], [DienThoai]) VALUES (N'NCC001', N'Công ty Sàn Gỗ Uyên Minh', N'TP. Hồ Chí Minh', N'0909071257')
INSERT [dbo].[tNhaCungCap] ([MaNCC], [TenNCC], [DiaChi], [DienThoai]) VALUES (N'NCC002', N'Công ty Cổ phần Sàn Đẹp', N'Hà Nội', N'0918421902')
INSERT [dbo].[tNhaCungCap] ([MaNCC], [TenNCC], [DiaChi], [DienThoai]) VALUES (N'NCC003', N'Công ty TNHH INOVAR', N'Hà Nội', N'0982986917')
GO
INSERT [dbo].[tNhanVien] ([MaNV], [TenNV], [GioiTinh], [NgaySinh], [DienThoai], [DiaChi], [MaCV]) VALUES (N'NV001', N'Lê Văn Cường', N'Nam', CAST(N'1999-01-14' AS Date), N'0928548266', N'Hà Nội', N'TN')
INSERT [dbo].[tNhanVien] ([MaNV], [TenNV], [GioiTinh], [NgaySinh], [DienThoai], [DiaChi], [MaCV]) VALUES (N'NV002', N'Trần Thu Hạ', N'Nữ', CAST(N'1997-04-11' AS Date), N'0828649271', N'Nam Định', N'KT')
INSERT [dbo].[tNhanVien] ([MaNV], [TenNV], [GioiTinh], [NgaySinh], [DienThoai], [DiaChi], [MaCV]) VALUES (N'NV003', N'Nguyễn Văn Hưng', N'Nam', CAST(N'1998-08-23' AS Date), N'0934648287', N'TP. Hồ Chí Minh', N'KT')
GO
ALTER TABLE [dbo].[tChiTietHoaDonBan]  WITH CHECK ADD FOREIGN KEY([MaHang])
REFERENCES [dbo].[tDMHangHoa] ([MaHang])
GO
ALTER TABLE [dbo].[tChiTietHoaDonBan]  WITH CHECK ADD FOREIGN KEY([SoHDB])
REFERENCES [dbo].[tHoaDonBan] ([SoHDB])
GO
ALTER TABLE [dbo].[tChiTietHoaDonNhap]  WITH CHECK ADD FOREIGN KEY([MaHang])
REFERENCES [dbo].[tDMHangHoa] ([MaHang])
GO
ALTER TABLE [dbo].[tChiTietHoaDonNhap]  WITH CHECK ADD FOREIGN KEY([SoHDN])
REFERENCES [dbo].[tHoaDonNhap] ([SoHDN])
GO
ALTER TABLE [dbo].[tDMHangHoa]  WITH CHECK ADD FOREIGN KEY([MaCongDung])
REFERENCES [dbo].[tCongDung] ([MaCongDung])
GO
ALTER TABLE [dbo].[tDMHangHoa]  WITH CHECK ADD FOREIGN KEY([MaDacDiem])
REFERENCES [dbo].[tDacDiem] ([MaDacDiem])
GO
ALTER TABLE [dbo].[tDMHangHoa]  WITH CHECK ADD FOREIGN KEY([MaKichThuoc])
REFERENCES [dbo].[tKichThuoc] ([MaKichThuoc])
GO
ALTER TABLE [dbo].[tDMHangHoa]  WITH CHECK ADD FOREIGN KEY([MaLoaiGo])
REFERENCES [dbo].[tLoaiGo] ([MaLoaiGo])
GO
ALTER TABLE [dbo].[tDMHangHoa]  WITH CHECK ADD FOREIGN KEY([MaMau])
REFERENCES [dbo].[tMauSac] ([MaMau])
GO
ALTER TABLE [dbo].[tDMHangHoa]  WITH CHECK ADD FOREIGN KEY([MaNuocSX])
REFERENCES [dbo].[tNuocSanXuat] ([MaNuocSX])
GO
ALTER TABLE [dbo].[tHoaDonBan]  WITH CHECK ADD FOREIGN KEY([MaKhach])
REFERENCES [dbo].[tKhachHang] ([MaKhach])
GO
ALTER TABLE [dbo].[tHoaDonBan]  WITH CHECK ADD FOREIGN KEY([MaNV])
REFERENCES [dbo].[tNhanVien] ([MaNV])
GO
ALTER TABLE [dbo].[tHoaDonNhap]  WITH CHECK ADD FOREIGN KEY([MaNCC])
REFERENCES [dbo].[tNhaCungCap] ([MaNCC])
GO
ALTER TABLE [dbo].[tHoaDonNhap]  WITH CHECK ADD FOREIGN KEY([MaNV])
REFERENCES [dbo].[tNhanVien] ([MaNV])
GO
ALTER TABLE [dbo].[tNhanVien]  WITH CHECK ADD FOREIGN KEY([MaCV])
REFERENCES [dbo].[tCongViec] ([MaCV])
GO
